# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
!.env.example

# Distribution / Packaging
build/
dist/
*.AppImage
AppDir/
appimagetool-*.AppImage

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
